@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUTS */
body>.wrapper {@apply container}
.col2-right-layout>.main {@apply flex}
.col2-right-layout>.main>.col-main {@apply flex-1}
.col2-right-layout>.main>.sidebar {@apply flex-grow-0 w-3/12 border-l-gray-300 border-l-2 pl-4 ml-4}

/* HEADER */
.header {@apply flex border-b-gray-300 border-b-2 pb-4 mb-4 text-sm}
.header h1 {@apply flex-grow}
.header h1.logo strong {@apply hidden}
#search_mini_form {@apply form-control}
.header .form-search {@apply input-group}
.header .form-search input {@apply input input-bordered}
.header .form-search button {@apply btn btn-square}
.header ul.links {@apply divide-x}
.header ul.links li {@apply inline}

/* TOOLBAR */
.toolbar, .pager, .sorter, .view-mode, .sort-by {@apply flex}
.pager {@apply flex-grow}

/* PRODUCT LIST */
.products-grid li {@apply card}
.products-grid li ul.add-to-links {@apply flex text-sm}
.products-grid li ul.add-to-links span.separator {@apply hidden}

/* FOOTER */
.footer {
    @apply grid gap-y-0 justify-items-center border-t-gray-300 border-t-2 pt-4 mt-4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "c1 c2"
        "f1 f1"
        "f2 f2";
}
.footer>p.bugs {@apply justify-center block mt-8; grid-area: f1;}
.footer>address {@apply justify-center block mb-4; grid-area: f2;}

/* BREADCRUMBS */
.breadcrumbs {@apply text-sm}
.breadcrumbs>ul>li>span {@apply hidden}

/* GENERAL UI */
.page-title h1 {@apply text-2xl font-bold mb-4}
aaabutton.button {@apply btn btn-sm}
aaainput {@apply input input-sm}