@tailwind base;
@tailwind components;
@tailwind utilities;

/* BREADCRUMBS */
.breadcrumbs {@apply text-sm}
.breadcrumbs>ul>li>span {@apply hidden}

/* FOOTER */
.footer {
    @apply grid gap-y-0 justify-items-center border-t-gray-300 border-t-2 pt-4 mt-4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "c1 c2"
        "f1 f1"
        "f2 f2";
}
.footer>p.bugs {@apply justify-center block mt-8; grid-area: f1;}
.footer>address {@apply justify-center block mb-4; grid-area: f2;}